
@{
    ViewData["Title"] = "Index";
}

<h2>Dotnet Core React Boilerplate</h2>

<div id="root"></div>

<input type="hidden" id="first" value="Yanik" />
<input type="hidden" id="last" value="Cadieux" />

<script src="~/js/main.js"></script>